<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>usersAddPoi</servlet-name>
    <servlet-class>services.users.AddPoi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersCheckname</servlet-name>
    <servlet-class>services.users.CheckName</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersDelete</servlet-name>
    <servlet-class>services.users.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersLoggedIn</servlet-name>
    <servlet-class>services.users.LoggedIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userinfo</servlet-name>
    <servlet-class>services.users.UserInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersLogOut</servlet-name>
    <servlet-class>services.users.LogOut</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logoutAll</servlet-name>
    <servlet-class>services.users.LogOutAll</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersRefresh</servlet-name>
    <servlet-class>services.users.Refresh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersRegister</servlet-name>
    <servlet-class>services.users.Register</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersSaveToken</servlet-name>
    <servlet-class>services.users.SaveToken</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>usersUpdate</servlet-name>
    <servlet-class>services.users.Update</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetNetworks</servlet-name>
    <servlet-class>supportingClasses.GetNetworks</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TwitterCallback</servlet-name>
    <servlet-class>supportingClasses.TwitterCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FbCallback</servlet-name>
    <servlet-class>supportingClasses.FbCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoursquareCallback</servlet-name>
    <servlet-class>supportingClasses.FoursquareCallback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>blogCreate</servlet-name>
    <servlet-class>services.blog.Create</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>dummy</servlet-name>
    <servlet-class>services.MyDummyService</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiAddNewPOIs</servlet-name>
    <servlet-class>services.poi.AddNewPOIs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiFindDuplicates</servlet-name>
    <servlet-class>services.poi.FindDuplicates</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOIs</servlet-name>
    <servlet-class>services.poi.GetPOIs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOIsFromTrajectories</servlet-name>
    <servlet-class>services.poi.GetPOIsFromTrajectories</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOIsFromExtSrcs</servlet-name>
    <servlet-class>services.poi.GetPOIsFromExtSrcs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOIsFromSN</servlet-name>
    <servlet-class>services.poi.GetPOIsFromSN</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiFilterUnique</servlet-name>
    <servlet-class>services.poi.FilterUnique</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiCreateSemanticTrajectories</servlet-name>
    <servlet-class>services.poi.CreateSemanticTrajectories</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiUpdateSemanticTrajectories</servlet-name>
    <servlet-class>services.poi.UpdateSemanticTrajectories</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiUpdatePOIInterest</servlet-name>
    <servlet-class>services.poi.UpdatePOIInterest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiUpdatePOI</servlet-name>
    <servlet-class>services.poi.UpdatePOI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiRefreshUsers</servlet-name>
    <servlet-class>services.poi.RefreshUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiLogGPSTraces</servlet-name>
    <servlet-class>services.poi.LogGPSTraces</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetNN</servlet-name>
    <servlet-class>services.poi.GetNN</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiDeletePOI</servlet-name>
    <servlet-class>services.poi.DeletePOI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiAddNewVisit</servlet-name>
    <servlet-class>services.poi.AddNewVisit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiShowTrendingEvents</servlet-name>
    <servlet-class>services.poi.ShowTrendingEvents</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOI</servlet-name>
    <servlet-class>services.poi.GetPOI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetGPSTrace</servlet-name>
    <servlet-class>services.poi.GetGPSTrace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersAddPoi</servlet-name>
    <url-pattern>/users/addpoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersCheckname</servlet-name>
    <url-pattern>/users/checkname/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersDelete</servlet-name>
    <url-pattern>/users/delete/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersLoggedIn</servlet-name>
    <url-pattern>/users/loggedin/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userinfo</servlet-name>
    <url-pattern>/users/userinfo/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersLogOut</servlet-name>
    <url-pattern>/users/logout/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutAll</servlet-name>
    <url-pattern>/users/logoutAll/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersRefresh</servlet-name>
    <url-pattern>/users/refresh/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersRegister</servlet-name>
    <url-pattern>/users/register/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersSaveToken</servlet-name>
    <url-pattern>/users/savetoken/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>usersUpdate</servlet-name>
    <url-pattern>/users/update/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetNetworks</servlet-name>
    <url-pattern>/users/getnetworks/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwitterCallback</servlet-name>
    <url-pattern>/users/tcallback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FbCallback</servlet-name>
    <url-pattern>/users/fbcallback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoursquareCallback</servlet-name>
    <url-pattern>/users/fsqcallback/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>blogCreate</servlet-name>
    <url-pattern>/blog/create/*</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>dummy</servlet-name>
    <url-pattern>/dummy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiAddNewPOIs</servlet-name>
    <url-pattern>/addnewpois/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiFindDuplicates</servlet-name>
    <url-pattern>/findduplicates/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOIs</servlet-name>
    <url-pattern>/getpois/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOIsFromTrajectories</servlet-name>
    <url-pattern>/getpoisfromtrajectories/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOIsFromExtSrcs</servlet-name>
    <url-pattern>/getpoisfromextsrcs/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOIsFromSN</servlet-name>
    <url-pattern>/getpoisfromsn/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiFilterUnique</servlet-name>
    <url-pattern>/filterunique/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiCreateSemanticTrajectories</servlet-name>
    <url-pattern>/createsemantictrajectories/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiUpdateSemanticTrajectories</servlet-name>
    <url-pattern>/updatesemantictrajectories/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiUpdatePOIInterest</servlet-name>
    <url-pattern>/updatepoiinterest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiUpdatePOI</servlet-name>
    <url-pattern>/updatepoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiRefreshUsers</servlet-name>
    <url-pattern>/refreshusers/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiLogGPSTraces</servlet-name>
    <url-pattern>/loggpstraces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetNN</servlet-name>
    <url-pattern>/getnn/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiDeletePOI</servlet-name>
    <url-pattern>/deletepoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiAddNewVisit</servlet-name>
    <url-pattern>/addnewvisit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiShowTrendingEvents</servlet-name>
    <url-pattern>/showtrendingevents/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOI</servlet-name>
    <url-pattern>/getpoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetGPSTrace</servlet-name>
    <url-pattern>/getgpstrace/*</url-pattern>
  </servlet-mapping>
</web-app>