<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>rest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>poiAddNewPOIs</servlet-name>
    <servlet-class>services.poi.AddNewPOIs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiFindDuplicates</servlet-name>
    <servlet-class>services.poi.FindDuplicates</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOIs</servlet-name>
    <servlet-class>services.poi.GetPOIs</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOIsFromTrajectories</servlet-name>
    <servlet-class>services.poi.GetPOIsFromTrajectories</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiCreateSemanticTrajectories</servlet-name>
    <servlet-class>services.poi.CreateSemanticTrajectories</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiUpdatePOI</servlet-name>
    <servlet-class>services.poi.UpdatePOI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiLogGPSTraces</servlet-name>
    <servlet-class>services.poi.LogGPSTraces</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetNN</servlet-name>
    <servlet-class>services.poi.GetNN</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiDeletePOI</servlet-name>
    <servlet-class>services.poi.DeletePOI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiAddNewVisit</servlet-name>
    <servlet-class>services.poi.AddNewVisit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiShowTrendingEvents</servlet-name>
    <servlet-class>services.poi.ShowTrendingEvents</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetPOI</servlet-name>
    <servlet-class>services.poi.GetPOI</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>poiGetGPSTrace</servlet-name>
    <servlet-class>services.poi.GetGPSTrace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>poiAddNewPOIs</servlet-name>
    <url-pattern>/addnewpois/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiFindDuplicates</servlet-name>
    <url-pattern>/findduplicates/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOIs</servlet-name>
    <url-pattern>/getpois/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOIsFromTrajectories</servlet-name>
    <url-pattern>/getpoisfromtrajectories/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiCreateSemanticTrajectories</servlet-name>
    <url-pattern>/createsemantictrajectories/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiUpdatePOI</servlet-name>
    <url-pattern>/updatepoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiLogGPSTraces</servlet-name>
    <url-pattern>/loggpstraces/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetNN</servlet-name>
    <url-pattern>/getnn/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiDeletePOI</servlet-name>
    <url-pattern>/deletepoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiAddNewVisit</servlet-name>
    <url-pattern>/addnewvisit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiShowTrendingEvents</servlet-name>
    <url-pattern>/showtrendingevents/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetPOI</servlet-name>
    <url-pattern>/getpoi/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>poiGetGPSTrace</servlet-name>
    <url-pattern>/getgpstrace/*</url-pattern>
  </servlet-mapping>
</web-app>